/* Global CSS classes. Import this file from app/layout.tsx */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: linear-gradient(
    180deg,
    var(--bs-secondary-bg),
    var(--bs-body-bg) 100px,
    var(--bs-body-bg)
  );
  font-family: var(--bs-body-font-family);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  max-width: 1420px;
}

.console-header {
  max-width: 700px;
}