.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.checkFeature {
    color: var(--teal-11);
    background-color: var(--teal-4);
    padding: var(--space-1);
    width: var(--space-5);
    height: var(--space-5);
    margin-top: -1px;
    margin-bottom: -1px;
    border-radius: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}